footer{
    @include base(100%, auto, 0, 20px);
    background-color: map-get($color-background, footer);
    color: map-get($color-basic,white);
    ul{
        @include base (auto, auto, 15px 0 0 0, 0);
        li{
            margin-top: 5px;
        }
        a{
            color: map-get($color-basic,white);
        }
    }
}