/* Add font parameter */

@font-face {
    font-family: "Shrikhand";
    src: url(../../publics/font/Shrikhand-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src: url(../../publics/font/Roboto-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src: url(../../publics/font/Roboto-Bold.ttf);
    font-weight: bold;
}
a{
    text-decoration: none;
}
p{
    font-family: $font-text;
}