/* Color Variable */
/* Definition of breakpoint */
/* font-variable */
.header__logo img, .introduction {
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Add font parameter */
@font-face {
  font-family: "Shrikhand";
  src: url(../../publics/font/Shrikhand-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../../publics/font/Roboto-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../../publics/font/Roboto-Bold.ttf);
  font-weight: bold;
}
a {
  text-decoration: none;
}

h1 {
  font-family: "Shrikhand", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2, h3, h4 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 27px;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
}

input {
  font-family: "Roboto", Arial, sans-serif;
}

button {
  font-family: "Roboto", Arial, sans-serif;
}

.introduction__search {
  height: 3.125em;
  background-color: #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: inset 0px 3px 2px #d0d0d0;
}
.introduction form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 50%;
}
.introduction form label {
  width: 15%;
  height: 3.125em;
  margin: 0;
  padding: 0;
  line-height: 3.125em;
}
.introduction form input {
  width: 60%;
  height: 3.125em;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  text-align: center;
  font-size: 1em;
}
.introduction__information {
  text-align: center;
  width: 100%;
  height: 290px;
  margin: 0;
  padding: 30px 30px;
  background-color: #f6f6f6;
}
.introduction__information p {
  color: #777777;
}

.gridInstructions {
  width: 100%;
  height: 440px;
  margin: 0;
  padding: 60px 0 0 0;
}
.gridInstructions h2 {
  margin-left: 20px;
}
.gridInstructions .instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: auto;
  height: 250px;
  margin: 30px 0 0 0;
  padding: 0;
}
.gridInstructions .instructions__instruction {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  flex-wrap: nowrap;
  width: 80%;
  height: 70px;
  margin: 0 auto;
  padding: 0;
  border-radius: 20px;
  box-shadow: 0px 6px 6px #c3c3c3;
  background-color: #f6f6f6;
}
.gridInstructions .instructions__instruction span {
  text-align: center;
  position: relative;
  left: -15px;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  border-radius: 25px;
  line-height: 25px;
  color: #fff;
}
.gridInstructions .instructions__instruction__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: auto;
  height: 70px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
}
.gridInstructions .instructions__instruction__list__ico {
  font-size: 18px;
  color: #777777;
  margin: auto 25px auto 5px;
}
.gridInstructions .instructions__instruction__list__ico--purple {
  color: #9356DC;
}
.gridInstructions .instructions__instruction--purpleBackground {
  background-color: #f5edff;
}

.gridRestaurant {
  width: 100%;
  height: 1230px;
  margin: 0;
  padding: 55px 0 0 0;
  background-color: #f6f6f6;
}
.gridRestaurant h2 {
  margin-left: 20px;
}
.gridRestaurant .restaurants {
  height: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.gridRestaurant .restaurants a {
  text-decoration: none;
  width: 90%;
  height: 250px;
  margin: auto;
  padding: 0;
}
.gridRestaurant .restaurant {
  width: 100%;
  height: 250px;
  margin: 20px auto 0 auto;
  padding: 0;
  border-radius: 15px;
  box-shadow: 0px 6px 6px #c3c3c3;
  height: 250px;
  background-color: #fff;
  overflow: hidden;
}
.gridRestaurant .restaurant__image {
  width: 100%;
  height: 175px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.gridRestaurant .restaurant__image img {
  width: 100%;
  object-fit: contain;
}
.gridRestaurant .restaurant figcaption {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 50%;
  height: 3.937em;
  margin: auto;
  padding: 0;
}
button {
  width: auto;
  height: 50px;
  margin: 16px auto;
  padding: 0 20px;
  line-height: 50px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 6px 6px #c3c3c3;
}
button:hover {
  background: linear-gradient(to right bottom, #fface8, #ae80e5);
  color: gray;
}

/*# sourceMappingURL=styles.css.map */
