.restaurantImg{
    @include base(100%, 250px, 0, 0);
    overflow: hidden;
    img{
        width: 100%;
        object-fit: contain;
    }
}
.restaurantsPage{
    position: relative;
    top: -35px;
    border-radius: 35px 35px 0 0;
    @include base(100%, auto, 0, 35px 15px 15px 15px);
    @include flex(column, space-between, center, nowrap);
    background-color: map-get($color-background, section);
    &__heading{
        width: 100%;
        @include flex(row, space-between, center, nowrap);
        @include desktop-only{
            @include flex(row, center, center, nowrap);
        }
        margin-bottom: 45px;
        h1{
            margin: 0;
            @include desktop-only{
                margin-right: 25px;
            }
        }
        p{
            margin: 0;
        }
    }
    &__heart{
        @include flex (row, center, center, nowrap);
        position: relative;
        @include base(5%, auto, auto, auto);
    }
    
}
.restaurantCard{
    
    @include desktop-only{
        @include flex(row, space-between, center, nowrap);
    }
    @include tablet-only{
        @include flex(row, space-between, center, nowrap);
    }
    @include base(100%, auto, 0, 0);
    &__menu{
        @include base(100%, auto, 0, 0);
        @include desktop-only{
            @include base (31%, auto, 0, 0);
        }
        @include tablet-only{
            @include base (31%, auto, 0, 0);
        }
    }
    h2{
        font-weight: map-get($font-weight, regular);
        text-transform : uppercase;
        font-size: 1.125em;
        color: darken(map-get($color-background, section), 30%);
    }
    .menus{
        @include base(100%, auto, 0 0 40px 0, 0);
    }
    .menu{
        overflow: hidden;
        @include base(100%, 70px, 14px 0 0 0, 10px);
        background-color: map-get($color-basic, white);
        @include border(20px);
        &__information{
            @include flex(row, space-between, center, nowrap);
            &__price{
                margin: 0 10px 0 10px;
                font-weight: map-get($font-weight, bold);
            }
            &__information{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        h3{
            font-size: 1.150em;
            margin: 0;
        }
        p{            
            font-size: 1em;
            margin: 6px 0 0 0;
        }
        
    }
    .border{
        @include base (13%, 3px, 8px 0 0 0, 0);
        @include desktop-only{
            @include base (8%, 3px, 8px 0 0 0, 0);
        }
        width: 13%;
        height: 3px;
        background-color: $color-tertiary;
    }
    
}
.menu:hover > .menu__checked{
    transform: translateX(-100%);
    cursor: pointer;
}
.menu:hover > .menu__checked > .menu__checked__ico{
    transform: rotate(1turn);
}
.menu:hover > .menu__information > .menu__information__price{
    transform: translateX(-220%);
}
.menu__information__price{
    transition: transform 450ms ease-in-out;
}
.menu__checked{
    transition: transform 450ms ease-in-out;
    @include base(70px, 70px, 0 0 0 10px, 0);
    position: relative;
    top: -58px;
    left: 100%;
    background-color: $color-tertiary;
    line-height: 70px;
    text-align: center;
    &__ico{
        font-size: 1.5em;
        transition: transform 450ms ease-in-out;
        color: map-get($color-basic, white);
    }
}