@mixin smartphone-only {
    @media screen and (max-width: map-get($map: $breakpoint, $key: smartphone)){
        @content;
    }
}
@mixin tablet-only {
    @media screen and (min-width: map-get($map: $breakpoint, $key: tablet)){
        @content;
    }
}
@mixin desktop-only {
    @media screen and (min-width: map-get($map: $breakpoint, $key: desktop)){
        @content;
    }
}
@mixin flex ($direction, $justify-content, $align-items, $wrap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $wrap;
}
