/* Color Variable */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: (
    introduction:  #eaeaea,
    section: #f6f6f6,
    instructions:  #f5edff,
    footer: #353535, 
);
$color-basic: (
    black: #000,
    white: #fff,
    gray: #f6f6f6,
);




/* Definition of breakpoint */

$breakpoint: (
    small : 0px, 
    medium : 900px, 
    big : 1350px,
);

/* font-variable */


$font-title: "Shrikhand";
$font-text: "Roboto";
$font-error: Arial, sans-serif;